.presetsSection {
    height: 225px;
    padding: 2% 2% 2% 3%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 20px;

    }

.presetsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    }

