.viewport {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 235px);
    @media (max-width: 1200px) {
        width: calc(100% - 180px);
    }
    @media (max-width: 1200px) {
        width: calc(100% - 150px);
    }
}
