h2 {
    font-size: 20px;
}

.fas {
    margin: 0 10px;
}

.header-sort-icon {
    position: absolute;
    left: -25px;
    transition: transform 0.2s;
    &.highlightDown {
        color: red;
        transform: scale(1.5);
    }
    &.highlightUp {
        color: green;
        transform: scale(1.5) rotate(180deg);
    }
}
