@import "./../../scss/variables.scss";

.btn {
    margin: 5px 10px;
    min-width: 100px;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 0px 5px 5px -2px rgba(179, 179, 179, 1);
    transition: all 0.1s;
    .fas {
        margin-right: 10px;
        font-size: 20px;
    }

    //btn text-alignment
    &.centerText {
        //default
        justify-content: center;
    }
    &.leftText {
        justify-content: flex-start;
    }

    //btn sizes
    &.small {
        padding: 7px 20px;
        font-size: 14px;
        min-width: 50px;
    }
    &.medium {
        //default
        padding: 10px 20px;
        font-size: 15px;
    }
    &.large {
        padding: 12px 30px;
        font-size: 16px;
    }

    //btn color themes
    &.white {
        //default
        background-color: white;
        color: $blue;
        .fas {
            color: $blue;
        }
    }
    &.white.selected,
    &.white:hover {
        cursor: pointer;
        background-color: $blue;
        color: white;
        .fas {
            color: white;
        }
    }

    &.blue {
        //default
        background-color: $blue;
        color: white;
        .fas {
            color: white;
        }
    }
    &.blue.selected,
    &.blue:hover {
        cursor: pointer;
        background-color: darken($blue, 20%);
        color: white;
        .fas {
            color: white;
        }
    }

    &.red {
        background-color: red;
        color: white;
        .fas {
            color: white;
        }
    }
    &.red.selected,
    &.red:hover {
        cursor: pointer;
        background-color: darken(red, 20%);
        color: white;
        .fas {
            color: white;
        }
    }
}
