.container {
  height: calc(100% - 100px);
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
  background-color: white;
  display: flex;
  transition: all 0.5s;
  position: absolute;
}

.dataTypeWindow {
  border-right: 1px solid lightgray;
  height: 100%;
  width: 20%;
  min-width: 200px;
}

.dataPeriodTypeHeader {
  padding: 10px 10px 0 10px;
  text-transform: uppercase;
  font-weight: 800;
  color: #9196a2;
  font-size: 12px;
}

.dataType {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(230, 230, 230);
  &:hover {
    cursor: pointer;
  }
  p {
    margin: 15px 20px;
    text-transform: capitalize;
  }
}

.dataPeriodsWindow {
  display: flex;
  width: 100%;
}

.dataPeriodType {
  width: 25%;
  border-right: 1px solid lightgray;
  height: 100%;
  overflow-y: auto;
}

.open {
  display: flex;
  opacity: 1;
  top: 0;
}

.closed {
  display: none;
  opacity: 0;
  top: -300px;
}

.dataTypeSelected {
  background-color: black;
  color: white;
}
