@import "../../../scss/variables";

.column {
    min-width: 155px;
    margin-right: 25px;
    color: #bdc0c7;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    position: relative;

    &:hover {
        cursor: pointer;
    }
    .filterDescription {
        color: white;
        font-size: 10px;
        font-weight: 600;
        height: 15px;
        text-transform: lowercase;
        position: absolute;
        top: -12px;
        background-color: #4050b9;
        padding: 2px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        .deleteFilter {
            margin: 0 0 4px 5px;
            font-size: 14px;
        }
    }
    .columnName {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 600;
        min-width: 95px;
        @media (max-width: 1200px) {
            font-size: 14px;
        }
        @media (max-width: 700px) {
            font-size: 12px;
        }
        @media (max-width: 500px) {
            font-size: 12px;
        }
        .property {
            width: 20px;
            height: 20px;
            margin: 5px 0 0 5px;
            transition: transform 0.2s;
            &:hover {
                transform: scale(1.25);
            }
        }
    }

    @media (max-width: 1200px) {
        min-width: 115px;
    }
    @media (max-width: 700px) {
        min-width: 90px;
    }
}

.fa-edit {
    margin: 5px 0 5px 5px;
    font-size: 14px;
}
