@import "../../../scss/variables";

.column {
    min-width: 155px;
    margin-right: 15px;
    color: #bdc0c7;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    position: relative;

    &:hover {
        cursor: pointer;
    }
    .filter-description {
        color: black;
        font-size: 10px;
        height: 15px;
        text-transform: lowercase;
        position: absolute;
        top: -12px;
    }
    .column-name {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-weight: 600;
        @media (max-width: 1200px) {
            font-size: 14px;
        }
        @media (max-width: 700px) {
            font-size: 12px;
        }
    }

    @media (max-width: 1200px) {
        min-width: 115px;
    }
    @media (max-width: 700px) {
        min-width: 90px;
    }
}

.fa-edit {
    margin: 5px 0 0 5px;
    font-size: 14px;
}
