.period {
    width: 100px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 3px 0;
    padding: 4px 0;
    min-width: 130px;
    img {
        display: none;
    }
    p {
        font-size: 14px;
    }
    &:hover {
        background-color: rgb(235, 241, 240);
        cursor: pointer;
        .arrow {
            animation: grow 0.5s forwards;
        }
    }
    .selected {
        background-color: #3f7cff;
        position: relative;

        img {
            display: initial;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }
}

.checkbox {
    height: 15px;
    width: 15px;
    border: 1px solid #3fc9fffa;
    margin-right: 10px;
    border-radius: 20%;
    padding: 0;
}

// .arrow {
//   width: 0;
//   height: 25px;
//   opacity: 1;
//   display: flex;
//   align-items: center;
//   img {
//     display: initial;
//     width: 100%;
//     height: auto;
//     transform: rotate(90deg);
//   }
// }

// @keyframes grow {
//   from {
//     width: 0;
//     opacity: 0;
//   }

//   to {
//     width: 20px;
//     opacity: 1;
//   }
// }
