.container {
    position: absolute;
    top: 100%;
    left: 1%;
    width: 98%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
    background-color: white;
    z-index: 0;
}

.header {
    background-color: lightgray;
    padding: 10px 30px;
    font-weight: 600;
    span {
        float: right;
    }
}

.body {
    padding: 15px 30px;
    height: 400px;
    width: 95%;
    .description {
        color: rgb(207, 207, 207);
    }
}

.description {
    margin: 0 0 10px 0;
}

.footer {
    padding: 10px 30px 20px 30px;
    background-color: rgb(124, 124, 124);
    display: flex;
    justify-content: space-between;

    .addFilter {
        background-color: #3f7cff;
        padding: 10px 20px;
        border: none;
        color: white;
        font-weight: 600;
        margin-right: 20px;
        transition: all 0.1s;

        &:hover {
            cursor: pointer;
            background-color: darken($color: #3f7cff, $amount: 5%);
            color: lightgray;
        }
    }

    .cancelFilter {
        background-color: transparent;
        color: lightgray;
        border: none;
        font-weight: 600;

        &:hover {
            cursor: pointer;
        }
    }
}

.filterContainer {
    display: flex;
    width: 100%;
    align-items: flex-end;
    height: 40px;
    input {
        width: 50px;
        border: none;
        border-bottom: 1px solid #b1b1b1;
        background-color: transparent;
        color: white;
    }
}

.connectingWords {
    margin: 0 20px;
    color: white;
    font-style: italic;
    font-size: 13px;
}

.numberInputContainer {
    margin-left: 20px;
    input {
        height: 30px;
        padding: 0 10px;
        font-size: 14px;
        text-align: center;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
