@import "../../scss/variables";

.filterColumnsHeader {
    width: calc(100% - 60px);
    margin: 0 30px;
    border-bottom: 1px solid #eaebec;
    position: relative;
    height: 75px;
    padding-bottom: 10px;
    &.reduceMargin {
        margin-top: -10px;
        padding-bottom: 0;
    }
    &.filterRow {
        height: 90px;
        .bottomRow {
            margin-top: 25px;
        }
    }
    &.filterRow.reduceMargin {
        height: 60px;
    }

    @media (max-width: 500px) {
        margin: 0 10px;
    }
    .topRow {
        position: relative;
        height: 25px;
        margin-left: 230px;
        display: flex;
        width: calc(100% - 230px);
        @media (max-width: 1200px) {
            width: calc(100% - 190px);
            margin-left: 190px;
        }
        @media (max-width: 700px) {
            width: calc(100% - 180px);
            margin-left: 180px;
        }
    }
    .bottomRow {
        width: 100%;
    }
    .topRow,
    .bottomRow {
        .buttonsContainer {
            margin-left: 230px;
            display: flex;
            @media (max-width: 1200px) {
                margin-left: 190px;
            }
            @media (max-width: 700px) {
                margin-left: 180px;
            }
        }
    }
}

.addBtn {
    position: absolute;
    left: -60px;
    top: -35px;
    margin: 0;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: #4050b9;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3),
        0 4px 8px 3px rgba(60, 64, 67, 0.15);
    transition: all 0.2s;
    text-transform: uppercase;
    @media (max-width: 500px) {
        left: -10px;
        top: -55px;
    }
    &:hover {
        color: lightgray;
        background-color: darken($blue, 20%);
    }
}

.prevBtn,
.nextBtn {
    background-color: #4050b9;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 6px 20px 4px 20px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3),
        0 4px 8px 3px rgba(60, 64, 67, 0.15);
    transition: all 0.2s;
    text-transform: uppercase;
    &:hover {
        color: lightgray;
        background-color: darken($blue, 20%);
    }
}

.prevBtn {
    position: absolute;
    left: -50px;
    top: 0;
    @media (max-width: 500px) {
        left: -150px;
    }
}

.nextBtn {
    position: absolute;
    right: 0;
    top: 0;
}
